body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  background-image: url(./imag/isma.png);
  /*background-position: top center;*/
}


header {
  padding-top: 0;
  padding-bottom: 0;
}


header img{
  margin: auto;
  margin-top: 50px;
  width: 300px;
  background: linear-gradient(90deg,  rgba(71,87,255,1) 65%, rgba(187,18,190,1) 28%) ;
  display: flex;
  border-radius: 40%;
  padding: 4px;
}

main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  border-radius: 50%;
}


button{
  background: linear-gradient(90deg, rgba(187,18,190,1) 28%, rgba(71,87,255,1) 65%);
  padding:20px 40px;
  font-size:24px;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-left: 15px;
  margin-top: 10px;

}

@keyframes ismaela {
  from{
      transform: scale(1);
  }

  to{
      transform: scale(1.05);
  }
}

button:hover{
  animation: ismaela;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

header div{
  animation: fromTop .7s .2s backwards;
}

main section {
  animation: fromBottom .7s backwards;
}

@keyframes fromTop {
  from{
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from{
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



